@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f9f9f9;
  --background: #0a0a0a;
  --text: #ededed;
  --accent: #ffd700;
}

body {
  color: var(--text);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
